<div class="header">
  <h1 class="header__title">Todo Application</h1>
  <div class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <i class="fas fa-star"></i>
        <%= link_to "Importance", "/importance", class: "header__nav-link" %>
      </li>
      <li class="header__nav-item">
        <i class="far fa-calendar-alt"></i>
        <%= link_to "Planned", "/planned", class: "header__nav-link" %>
      </li>
      <li class="header__nav-item">
        <i class="fas fa-list"></i>
        <%= link_to "Life Style", "/life-styles", class: "header__nav-link" %>
      </li>
    </ul>
  </div>
</div>
