<div class="header">
  <h1 class="header__title">Todo Application</h1>
  <div class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <%= link_to "Works", "/works", class: "header__nav-link" %>
      </li>
      <li class="header__nav-item">
        <%= link_to "Categories", "/categories", class: "header__nav-link" %>
      </li>
      <li class="header__nav-item">
        <%= link_to "About", "/about", class: "header__nav-link" %>
      </li>
      <li class="header__nav-item">
        <%= link_to "Login", "/login", class: "header__nav-link" %>
      </li>
    </ul>
  </div>
</div>
